html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 14px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Roboto", sans-serif;
  background-color: rgb(218, 230, 234);
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
	font-size: 40px;
  margin: 0;
  padding: 20px 0;
  color: #ffffff;
  text-shadow: 3px 3px 4px black;
}
p, 
a {
    font-size: 20px;
    line-height: 2px;
    letter-spacing: 0.4px;
}
img {
	display: block;
  margin: 0 auto;
  max-width: 100%;
}
.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}